[package]
name = "greeters"
version = "0.1.0"
edition.workspace = true
description = "greeters for WebKit Greeter"
repository.workspace = true
license = "GPL-3.0-or-later AND LGPL-3.0-or-later"
keywords = ["greetd", "greeter", "lightdm", "webkit"]
categories = ["GUI"]
build = "build.rs"

[dependencies]
gettext-rs = "0.7.7"
greetd_ipc = { version = "0.10", features = ["sync-codec"] }
hyprland = { git = "https://github.com/hyprland-community/hyprland-rs", branch = "master", optional = true }
jsc.workspace = true
lazy_static = "1.5.0"
libc = "0.2.177"
lightdm = { git = "https://github.com/ZaynChen/lightdm-rs.git", version = "0.1.0", optional = true }
logger.workspace = true
pwd = "1.4.0"
serde = "1.0.228"
webkit.workspace = true
zbus = "5.12.0"

[build-dependencies]
glib-build-tools = "0.21.0"

[features]
greetd = ["hyprland"]
hyprland = ["dep:hyprland"]
lightdm = ["dep:lightdm"]
